#about {
  $space-between-with-header: 32px;

  h2 {
    color: $primary;
    margin-bottom: $space-between-with-header;
    font-size: 2.5rem;
  }

  h3 {
    color: $primary;
    margin-bottom: $space-between-with-header;
    font-size: 2rem;
  }

  h4 {
    margin-bottom: 16px;
    color: $primary;
    font-size: 1.5rem;
  }

  .underlined {
    display: inline-block;
    &::after {
      content: "";
      display: block;
      background-color: $primary;
      width: 120%;
      height: 5px;
      margin-top: 8px;
      border-radius: 10px;
    }
  }

  .about-block:not(#profile) {
    margin-top: 60px;
  }

  .experience-skill-container {
    display: flex;

    #experience {
      flex-basis: 50%;
    }

    #skill {
      flex-basis: 50%;
    }

    @include mobile {
      flex-direction: column;

      #experience,
      #skill {
        flex-basis: 100%;
      }
    }
  }

  #profile {
    $avatar-size: 250px;
    $avatar-size-mobile: 200px;

    margin: auto;
    max-width: 600px;
    display: flex;
    align-items: center;

    img.avatar {
      width: $avatar-size;
      height: $avatar-size;
      display: block;
      border-radius: 50%;
      box-shadow: 5px 0 $primary, 15px 0 $primary;
      z-index: 1;
    }

    .info {
      margin-left: auto;
      z-index: 2;

      .contacts {
        max-width: 250px;
        width: calc(
          #{$content-max-width} - #{$avatar-size} - #{$space-between-with-header}
        );
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:last-child {
          margin-top: $space-between-with-header;
        }

        .contact {
          text-align: center;
        }
      }
    }

    @include mobile {
      flex-direction: column;

      img.avatar {
        width: $avatar-size-mobile;
        height: $avatar-size-mobile;
      }

      .info {
        width: 100%;
        margin-top: $space-between-with-header;
        margin-left: 0;
        text-align: center;

        .contacts {
          max-width: 500px;
          margin: auto;
        }

        h2.underlined::after {
          width: 100%;
        }

        .contacts {
          width: 100%;
          justify-content: space-around;
        }
      }
    }
  }

  #intro {
    p {
      font-size: 1.15rem;
      color: $grey;
      line-height: 2;
    }
  }

  #experience {
    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }

        .duration {
          margin-bottom: 8px;
          color: $grey-lighten-2;
          font-size: 0.5rem;
        }
        .title {
          color: $grey;
          font-size: 1.15rem;
          margin-bottom: 8px;
        }

        .subtitle {
          color: $primary;
          font-size: 0.8rem;
        }

        @include mobile {
          &:not(:last-child) {
            margin-bottom: 24px;
          }

          .title,
          .subtitle,
          .duration {
            display: block;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  #skill {
    .skill-section {
      margin-bottom: 16px;

      .skill-chip {
        position: relative;
        display: inline-block;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 12px;
        border-radius: 20px;
        font-size: 0.8rem;
        color: $light;
        background-color: $primary;
        cursor: pointer;
        user-select: none;

        &::after {
          content: attr(data-tooltip);
          white-space: nowrap;
          position: absolute;
          top: -100%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          border-radius: 5px;
          padding: 8px;
          background-color: $grey;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  #project {
  }
}
