#about {
  $space-between-with-header: 32px;
  $view-container-horizontal-padding: 32px;

  &.view-container {
    @include mobile {
      padding-left: $view-container-horizontal-padding;
      padding-right: $view-container-horizontal-padding;
    }
  }

  .content-container {
    margin: 0 auto;
  }

  h2 {
    color: $light;
    margin-bottom: $space-between-with-header;
    font-size: 2.5rem;
  }

  h3 {
    color: $light;
    margin-bottom: $space-between-with-header;
    font-size: 2rem;
  }

  h4 {
    margin-bottom: 16px;
    color: $light;
    font-size: 1.5rem;
  }

  .underlined {
    display: inline-block;
    &::after {
      content: "";
      display: block;
      background-color: $primary;
      width: 120%;
      height: 5px;
      margin-top: 8px;
      border-radius: 10px;
    }
  }

  .about-block {
    margin-top: 60px;
  }

  .experience-skill-container {
    display: flex;

    #experience {
      flex-basis: 50%;
    }

    #skill {
      flex-basis: 50%;
    }

    @include mobile {
      flex-direction: column;

      #experience,
      #skill {
        flex-basis: 100%;
      }
    }
  }

  #profile {
    $avatar-size: 250px;
    $avatar-size-mobile: 200px;

    display: flex;
    align-items: center;

    img.avatar {
      width: $avatar-size;
      height: $avatar-size;
      display: block;
      border-radius: 25px;
    }

    .info {
      margin-left: $space-between-with-header;

      .contacts {
        width: $content-max-width - $avatar-size - $space-between-with-header;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:last-child {
          margin-top: $space-between-with-header;
        }

        .contact {
          text-align: center;

          &-btn {
            width: 50px;
            height: 50px;
            padding: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            outline: none;
            background-color: $grey;
            transition: all 0.3s;

            .icon {
              width: 32px;
              height: 32px;
              color: $light;
            }

            &:hover {
              cursor: pointer;
              transition: all 0.3s;
              transform: scale(1.02);
              background-color: $primary;
            }

            &:active {
              transition: all 0.3s;
              transform: scale(0.98);
              background-color: darken($primary, 20);
            }
          }
        }
      }
    }

    @include mobile {
      flex-direction: column;

      img.avatar {
        width: $avatar-size-mobile;
        height: $avatar-size-mobile;
      }

      .info {
        width: 100%;
        margin-top: $space-between-with-header;
        margin-left: 0;
        text-align: center;

        h2.underlined::after {
          width: 100%;
        }

        .contacts {
          width: 100%;
          justify-content: space-around;
        }
      }
    }
  }

  #intro {
    p {
      font-size: 1.15rem;
      color: $light;
      line-height: 2;
    }
  }

  #experience {
    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }

        .duration {
          margin-bottom: 8px;
          color: lighten($grey, 20);
          font-size: 0.5rem;
        }
        .title {
          color: $light;
          font-size: 1.15rem;
          margin-bottom: 8px;
        }

        .subtitle {
          color: $primary;
          font-size: 0.8rem;
        }

        @include mobile {
          &:not(:last-child) {
            margin-bottom: 24px;
          }

          .title,
          .subtitle,
          .duration {
            display: block;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  #skill {
    .skill-section {
      margin-bottom: 16px;

      .skill-chip {
        position: relative;
        display: inline-block;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 12px;
        border-radius: 20px;
        font-size: 0.8rem;
        color: $light;
        background-color: $primary;
        cursor: pointer;

        &::after {
          content: attr(data-tooltip);
          white-space: nowrap;
          position: absolute;
          top: -100%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          border-radius: 5px;
          padding: 8px;
          background-color: $grey;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  #project {
  }
}
