#home {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    user-select: none;

    .first-line,
    .third-line {
      color: $primary;
    }
    .first-line {
      padding-top: 2rem;
      font-size: 6vw;
      animation-delay: 0.5s;
    }
    .second-line {
      color: $light;
      -webkit-text-stroke: 1px $primary;
      font-size: 15vw;
      text-align: center;
      animation-delay: 1.5s;
    }
    .third-line {
      padding-bottom: 3.5rem;
      font-size: 3vw;
      text-align: end;
      animation-delay: 1s;
    }

    @include mobile {
      .first-line {
        margin-bottom: 16px;
        padding-top: 1.25rem;
        font-size: 2.5rem;
        text-align: center;
      }
      .second-line {
        margin-bottom: 16px;
      }
      .third-line {
        padding-bottom: 2.5rem;
        text-align: center;
      }
    }
  }
}
