@import "shared/reset";
@import "shared/breakpoints";
@import "shared/variables";
@import "shared/colors";
@import "shared/font";
@import "shared/container";
@import "shared/navbar";
@import "shared/footer";
@import "shared/animate";
@import "shared/icon-circular-btn";
@import "shared/circular-progress";

@import "components/article-body";
@import "components/article-list-item";

@import "pages/home";
@import "pages/about";
@import "pages/article-list";
@import "pages/article";
@import "pages/not-found";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  overflow: auto;

  .scroll-to-top-btn {
    position: fixed;
    right: calc(((100% - #{$content-max-width}) / 2) + 1rem);
    bottom: 3rem;
    opacity: 0.3;
    transform: translateX(calc(100% + 1rem));

    &:hover {
      opacity: 1;
      transform: translateX(calc(100% + 1rem));
    }

    @media screen and (max-width: 816px) {
      right: 1rem;
      transform: translateX(calc(40% + 1rem));

      &:hover {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
