.view-container {
  padding: $view-padding;
  padding-top: calc(#{$navbar-height} + #{$view-padding});
  max-width: 100%;
  min-height: calc(100% - #{$footer-height});
  overflow-x: hidden;

  @include mobile {
    min-height: calc(100% - #{$footer-height});
  }
}

.content-container {
  max-width: $content-max-width;
  margin: 0 auto;
}
