h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span,
div {
  line-height: 1;
  font-family: Noto Sans TC, Din, Microsoft JhengHei, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

code,
code > * {
  font-family: JetBrains Mono, Noto Sans TC, Din, Microsoft JhengHei, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}


.font {
  &-bold {
    font-weight: 500;
  }

  &-heavy {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }
}
