:root {
  --mobile-max-width: #{$mobile-max-width};
  --tablet-max-width: #{$tablet-max-width};
  --view-view-padding: 32px;
  --content-max-width: 800px;
  --navbar-height: 76px;
  --footer-height: 48px;
}

@include mobile {
  :root {
    --navbar-height: 56px;
  }
}

$view-padding: var(--view-view-padding);
$content-max-width: var(--content-max-width);
$navbar-height: var(--navbar-height);
$footer-height: var(--footer-height);
