:root {
  --mobile-max-width: #{$mobile-max-width};
  --tablet-max-width: #{$tablet-max-width};
  --view-view-padding: 2rem;
  --content-max-width: 800px;
  --navbar-height: 76px;
  --footer-height: 48px;

  @include mobile {
    --navbar-height: 56px;
    --view-view-padding: 1rem;
  }
}

$view-padding: var(--view-view-padding);
$content-max-width: var(--content-max-width);
$navbar-height: var(--navbar-height);
$footer-height: var(--footer-height);
