@import "../shared/shared";

@import "../components/article-list/article-list-item";

#article-list {
  &.loading {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .divider {
    margin: 16px auto;
    max-width: 300px;
    height: 1px;
    background-color: rgba($grey-darken-4, 0.2);
  }

  @include article-list-item;
}
