#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-bottom: $navbar-height;
    font-size: 4rem;
    color: $primary;

    @include mobile {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 12rem;
    color: $grey-lighten-3;

    @include mobile {
      font-size: 6rem;
    }
  }
}
